.name {
  width: 100vw;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.canvas {
  margin: auto;
}

.refreshButton {
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  color: rgb(75, 75, 72);
  padding: 5px 10px 5px 10px;
  border: 1px solid #b5b5b5;
}
